* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
    direction: rtl;
}

body {
    margin: 0;
    font-family: roboto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
section, main, footer {
    // padding: 5px;
}

img {
    // width: 100%;
}

p {
    // margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: $clr7;
}
a:hover {
    text-decoration: underline;
}