.main-app {
    margin:0 auto;
    height: 100%;
    .main-app-container{
      display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
      .who-we-are{
        margin-top: 34px;
        display: flex;
       flex-direction: column;
        align-items: center;
         flex:1;
        p{
          padding: 15px;
          color:$clr1;
          font-size: 20px;
          font-family: heebo-semi-bold;
          text-align: center;
        }
      }
      .collaborations-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        height: 80px;
        // margin:40px 0px 40px 0px;
        img{
          width: 100px;
          height: 80px;
          // object-fit: cover;
        }
      }
      .reviews-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: $clr1;
        flex:1;
        bottom: 0;
        align-items: center;
        .reviews{
          display: flex;
          gap: 20px;
          .review-container{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -40px;
            img{
              width: 100px;
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
              margin-bottom: 15px;
            }
            .review{
              display: flex;
              flex-direction: column;
              align-content: center;
              align-items: center;
              .name{
                color: $clr6;
                font-family: heebo-semi-bold;
              }
              p{
                color:$clr6;
                margin: 0;
                text-align: center;
              }
            }
          }
        }
        .action{
          flex: 1;
          display: flex;
          align-items: center;
          .login{
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 205px;
            height: 47px;
            background-color: $clr2;
            border-radius: 50px;
            color: $clr6;
            font-size: rem(20px);
          }
        }
      }
    }

  }

  .screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    cursor: default;
    z-index: 5;
      background-color: #0f549abb;
  }

  .app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }