.results-container{
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    .title-container{
        margin-bottom: 20px;
        
    }
    .result{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        >div{
            .options{
                padding: 15px;
            }
        }
        .matchs{
            .options{
                
                background-color: #587CA2;
            }
        }
        .intrest{
            .options{
            }
        }
        .maby{
            .options{
                background-color:#ee7d90 ;
            }
        }
       .title-activities{
           margin-bottom: 20px;

       }
       .options{
        display: flex;
        justify-content: space-around;
           >div{
            display: flex;
            flex-direction: column;
               .activity-img{
                // width: 100px;
                width: 100px;
    height: 66.66px;
    object-fit: contain;
               }
               .activity-name{

               }
           }
       }
    }
}

.swiper-wrapper{
    flex-direction: row !important;
}
.swiper-pagination-horizontal{
    justify-content: center !important;
    flex-direction: row !important;
}