@font-face {

font-family: heebo-regular;
src: url(../../fonts/Heebo/regular/Heebo-Regular.ttf)
}
@font-face {
font-family: heebo-semi-bold;
src: url(../../fonts/Heebo/semiBold/Heebo-SemiBold.ttf)
}
@font-face {
font-family: heebo-bold;
src: url(../../fonts/Heebo/bold/Heebo-Bold.ttf)
}

}

