// Colors
$clr1: #0F559A;
$clr2: #F21D6F;
$clr3: #70CBEF;
$clr4: #F9C6D6;
$clr5: #707070;
$clr6: #FFFFFF;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
